/* ----- PRINCIPALI ----- */

.body {
    background-color: white;
    overflow: auto;
}

.divMain {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-family: Arial;
}